<launch>

	<arg name="rviz" default="true" />

	<rosparam command="load" file="$(find fast_livo)/config/lidar_backbag.yaml" />

	<node pkg="fast_livo" type="fastlivo_mapping" name="laserMapping" output="screen" >
		<rosparam file="$(find fast_livo)/config/camera_backbag.yaml" />
	</node>
	
	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_livo)/rviz_cfg/lic.rviz" />
	</group>
	<node pkg="image_transport" type="republish" name="republish" args="compressed in:=/usb_cam/image_raw raw out:=/usb_cam/image_raw" output="screen" respawn="true" />

launch-prefix="gdb -ex run --args"
</launch> 	
